.btn {
  display: block;
  padding: 24px 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-default-white;

  background-color: transparent;
  border: 4px solid $color-default-white;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-within {
      opacity: 0.8;
    }
  }
}
