@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "";

  font-display: swap;
  src:
    url("../fonts/.woff2") format("woff2"),
    url("../fonts/.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Bebas Neue";

  font-display: swap;
   src:
    url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/BebasNeue-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/Roboto-Condensed.woff2") format("woff2"),
    url("../fonts/Roboto-Condensed.woff") format("woff");
}
